[[inputs.prometheus]]
  urls = ["http://localhost:9252/metrics"]
  [inputs.prometheus.tags]
    gitlab_server = "{{ gitlab_server }}"

[[inputs.exec]]
  commands = [
    "/usr/local/bin/telegraf-dockerhub_limit.py"
  ]
  data_format = "influx"
  interval = "60s"
  timeout = "30s"
